.content {
    margin-top: 0px;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

#header {
}

#body {
   padding-bottom:30px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:36px;   /* Height of the footer */
}
